<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fulihui.redisdubbo.demo.producer.dal.dao.ExtExemptionGoodsMapper">
    <resultMap id="BaseResultMap" type="com.fulihui.redisdubbo.demo.producer.dal.dataobj.ExemptionGoods">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="activity_id" jdbcType="INTEGER" property="activityId"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="exemption_goods_name" jdbcType="VARCHAR" property="exemptionGoodsName"/>
        <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc"/>
        <result column="pay_amount" jdbcType="INTEGER" property="payAmount"/>
        <result column="back_amount" jdbcType="INTEGER" property="backAmount"/>
        <result column="exemption_num" jdbcType="INTEGER" property="exemptionNum"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="surplus_num" jdbcType="INTEGER" property="surplusNum"/>
        <result column="receive_num" jdbcType="INTEGER" property="receiveNum"/>
        <result column="order_quantity_num" jdbcType="INTEGER" property="orderQuantityNum"/>
    </resultMap>


    <update id="modifyNum" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.ExemptionGoods">
        UPDATE
        exemption_goods
        <set>
            <if test="surplusNum != null">
                surplus_num = surplus_num + #{surplusNum},
            </if>
            <if test="receiveNum != null">
                receive_num = receive_num + #{receiveNum},
            </if>

            <if test="orderQuantityNum != null">
                order_quantity_num = order_quantity_num + #{orderQuantityNum},
            </if>


            gmt_modified = now()
        </set>
        WHERE 1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="goodsId != null">
            AND goods_id = #{goodsId}
        </if>


        <if test="activityId != null">
            AND activity_id = #{activityId}
        </if>


        <!--小于-->
        <if test="surplusNum &lt; 0">
            <![CDATA[ AND surplus_num >= -#{surplusNum} ]]>
        </if>
        <!--小于-->
        <if test="receiveNum &lt; 0">
            <![CDATA[ AND receive_num >= -#{receiveNum} ]]>
        </if>

        <!--小于-->
        <if test="orderQuantityNum &lt; 0">
            <![CDATA[ AND order_quantity_num >= -#{orderQuantityNum} ]]>
        </if>


    </update>


    <update id="addReceiveNum" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.ExemptionGoods">
        update exemption_goods
        <set>
            <if test="surplusNum != null">
                surplus_num = surplus_num - #{surplusNum},
            </if>
            <if test="receiveNum != null">
                receive_num = receive_num + #{receiveNum},
            </if>
            <if test="gmtReceive != null">
                gmt_receive = #{gmtReceive}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
        <if test="surplusNum != null">
          and surplus_num &gt;= #{surplusNum}
        </if>

    </update>


    <update id="subReceiveNum" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.ExemptionGoods">
        update exemption_goods
        <set>
            <if test="surplusNum != null">
                surplus_num = surplus_num + #{surplusNum},
            </if>
            <if test="receiveNum != null">
                receive_num = receive_num - #{receiveNum},
            </if>
            <if test="gmtReceive != null">
                gmt_receive = #{gmtReceive}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
        <if test="receiveNum != null">
            and receive_num &gt;= #{receiveNum}
        </if>
    </update>


</mapper>