<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fulihui.redisdubbo.demo.producer.dal.dao.ExtStoreGoodsMapper">
    <resultMap id="BaseResultMap" type="com.fulihui.redisdubbo.demo.api.dto.StoreGoodsDTO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="store_id" jdbcType="BIGINT" property="storeId" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="order_by" jdbcType="INTEGER" property="orderBy" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    </resultMap>


  <sql id="Base_Column_List" >
    id, store_id, goods_name, goods_id, status, order_by, gmt_create, gmt_modified
  </sql>

  <select id="getGoingStoreGoods" parameterType="com.fulihui.redisdubbo.demo.api.request.GetGoingStoreGoodsRequest" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from store_goods
    where store_id=#{id} and status='1'
    order by order_by desc
    limit #{page},#{rows}
  </select>

  <select id="getGoingStoreGoodsSum" parameterType="com.fulihui.redisdubbo.demo.api.request.GetGoingStoreGoodsRequest" resultType="java.lang.Integer">
    select
      count(1)
    from store_goods
    where store_id=#{id} and status='1'
  </select>

  <select id="getStoreGoodsList" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from store_goods
    where store_id=#{id}
    order by order_by desc
  </select>


</mapper>