<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fulihui.redisdubbo.demo.producer.dal.dao.ExtUserFormRecordMapper">
    <resultMap id="userFormIdMap" type="com.fulihui.redisdubbo.demo.producer.dal.dataobj.UserFormId">
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="form_id" jdbcType="VARCHAR" property="formId"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
    </resultMap>

    <update id="update">
        update user_form_record
        SET form_status= #{formStatus}, update_time=now(), form_desc =#{desc}
        WHERE TO_DAYS(NOW()) - TO_DAYS(create_time) > #{day}
        AND form_status =#{oldStatus}

    </update>

    <select id="queryFormIdByUserIds" resultMap="userFormIdMap">
        select uf.user_id,uf.form_id,ud.nickname,wa.open_id
        from (select user_id,MAX(form_id) as form_id from user_form_record
          where form_status='1'
          and create_time > #{expireTime}
          and user_id in
          <foreach collection="userIds" open="(" close=")" separator="," item="item">
              #{item}
          </foreach>
          group by user_id
        ) as uf
        left join user_detail as ud
        on uf.user_id = ud.user_id
        left join wechat_auth as wa
        on uf.user_id = wa.user_id
    </select>

    <update id="updateFormIdState">
        UPDATE user_form_record SET form_status=#{state},form_desc=#{desc},update_time=NOW() where form_id in
        <foreach collection="formIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

</mapper>