<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fulihui.redisdubbo.demo.producer.dal.dao.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.fulihui.redisdubbo.demo.producer.dal.dataobj.OrderInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_thumbnail_url" jdbcType="VARCHAR" property="goodsThumbnailUrl" />
    <result column="goods_quantity" jdbcType="INTEGER" property="goodsQuantity" />
    <result column="goods_price" jdbcType="INTEGER" property="goodsPrice" />
    <result column="order_amount" jdbcType="INTEGER" property="orderAmount" />
    <result column="order_create_time" jdbcType="TIMESTAMP" property="orderCreateTime" />
    <result column="order_settle_time" jdbcType="TIMESTAMP" property="orderSettleTime" />
    <result column="order_verify_time" jdbcType="TIMESTAMP" property="orderVerifyTime" />
    <result column="order_receive_time" jdbcType="TIMESTAMP" property="orderReceiveTime" />
    <result column="order_pay_time" jdbcType="TIMESTAMP" property="orderPayTime" />
    <result column="order_pay_time_ext" jdbcType="DATE" property="orderPayTimeExt" />
    <result column="promotion_rate" jdbcType="INTEGER" property="promotionRate" />
    <result column="promotion_amount" jdbcType="INTEGER" property="promotionAmount" />
    <result column="p_id" jdbcType="VARCHAR" property="pId" />
    <result column="custom_parameters" jdbcType="VARCHAR" property="customParameters" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="order_status_desc" jdbcType="VARCHAR" property="orderStatusDesc" />
    <result column="user_order_status" jdbcType="VARCHAR" property="userOrderStatus" />
    <result column="user_order_status_desc" jdbcType="VARCHAR" property="userOrderStatusDesc" />
    <result column="verify_time" jdbcType="TIMESTAMP" property="verifyTime" />
    <result column="order_group_success_time" jdbcType="TIMESTAMP" property="orderGroupSuccessTime" />
    <result column="order_modify_at" jdbcType="TIMESTAMP" property="orderModifyAt" />
    <result column="order_modify_at_ext" jdbcType="DATE" property="orderModifyAtExt" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="auth_duo_id" jdbcType="VARCHAR" property="authDuoId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="order_commission_snapshot" jdbcType="INTEGER" property="orderCommissionSnapshot" />
    <result column="order_user_referee" jdbcType="VARCHAR" property="orderUserReferee" />
    <result column="help_money" jdbcType="INTEGER" property="helpMoney" />
    <result column="help_status" jdbcType="VARCHAR" property="helpStatus" />
    <result column="help_percent" jdbcType="DOUBLE" property="helpPercent" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="order_type" jdbcType="VARCHAR" property="orderType" />
    <result column="double_percent" jdbcType="DOUBLE" property="doublePercent" />
    <result column="exemption_amount" jdbcType="INTEGER" property="exemptionAmount" />
    <result column="promo_type" jdbcType="VARCHAR" property="promoType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_sn, goods_id, goods_name, goods_thumbnail_url, goods_quantity, goods_price, 
    order_amount, order_create_time, order_settle_time, order_verify_time, order_receive_time, 
    order_pay_time, order_pay_time_ext, promotion_rate, promotion_amount, p_id, custom_parameters, 
    order_status, order_status_desc, user_order_status, user_order_status_desc, verify_time, 
    order_group_success_time, order_modify_at, order_modify_at_ext, status, batch_no, 
    type, group_id, auth_duo_id, gmt_create, gmt_modified, order_commission_snapshot, 
    order_user_referee, help_money, help_status, help_percent, send_time, order_type, 
    double_percent, exemption_amount, promo_type
  </sql>
  <select id="selectByExample" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.OrderInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.OrderInfoExample">
    delete from order_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.OrderInfo" useGeneratedKeys="true">
    insert into order_info (order_sn, goods_id, goods_name, 
      goods_thumbnail_url, goods_quantity, goods_price, 
      order_amount, order_create_time, order_settle_time, 
      order_verify_time, order_receive_time, 
      order_pay_time, order_pay_time_ext, promotion_rate, 
      promotion_amount, p_id, custom_parameters, 
      order_status, order_status_desc, user_order_status, 
      user_order_status_desc, verify_time, order_group_success_time, 
      order_modify_at, order_modify_at_ext, status, 
      batch_no, type, group_id, 
      auth_duo_id, gmt_create, gmt_modified, 
      order_commission_snapshot, order_user_referee, 
      help_money, help_status, help_percent, 
      send_time, order_type, double_percent, 
      exemption_amount, promo_type)
    values (#{orderSn,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, 
      #{goodsThumbnailUrl,jdbcType=VARCHAR}, #{goodsQuantity,jdbcType=INTEGER}, #{goodsPrice,jdbcType=INTEGER}, 
      #{orderAmount,jdbcType=INTEGER}, #{orderCreateTime,jdbcType=TIMESTAMP}, #{orderSettleTime,jdbcType=TIMESTAMP}, 
      #{orderVerifyTime,jdbcType=TIMESTAMP}, #{orderReceiveTime,jdbcType=TIMESTAMP}, 
      #{orderPayTime,jdbcType=TIMESTAMP}, #{orderPayTimeExt,jdbcType=DATE}, #{promotionRate,jdbcType=INTEGER}, 
      #{promotionAmount,jdbcType=INTEGER}, #{pId,jdbcType=VARCHAR}, #{customParameters,jdbcType=VARCHAR}, 
      #{orderStatus,jdbcType=VARCHAR}, #{orderStatusDesc,jdbcType=VARCHAR}, #{userOrderStatus,jdbcType=VARCHAR}, 
      #{userOrderStatusDesc,jdbcType=VARCHAR}, #{verifyTime,jdbcType=TIMESTAMP}, #{orderGroupSuccessTime,jdbcType=TIMESTAMP}, 
      #{orderModifyAt,jdbcType=TIMESTAMP}, #{orderModifyAtExt,jdbcType=DATE}, #{status,jdbcType=VARCHAR}, 
      #{batchNo,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, 
      #{authDuoId,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{orderCommissionSnapshot,jdbcType=INTEGER}, #{orderUserReferee,jdbcType=VARCHAR}, 
      #{helpMoney,jdbcType=INTEGER}, #{helpStatus,jdbcType=VARCHAR}, #{helpPercent,jdbcType=DOUBLE}, 
      #{sendTime,jdbcType=TIMESTAMP}, #{orderType,jdbcType=VARCHAR}, #{doublePercent,jdbcType=DOUBLE}, 
      #{exemptionAmount,jdbcType=INTEGER}, #{promoType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.OrderInfo" useGeneratedKeys="true">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderSn != null">
        order_sn,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsThumbnailUrl != null">
        goods_thumbnail_url,
      </if>
      <if test="goodsQuantity != null">
        goods_quantity,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="orderAmount != null">
        order_amount,
      </if>
      <if test="orderCreateTime != null">
        order_create_time,
      </if>
      <if test="orderSettleTime != null">
        order_settle_time,
      </if>
      <if test="orderVerifyTime != null">
        order_verify_time,
      </if>
      <if test="orderReceiveTime != null">
        order_receive_time,
      </if>
      <if test="orderPayTime != null">
        order_pay_time,
      </if>
      <if test="orderPayTimeExt != null">
        order_pay_time_ext,
      </if>
      <if test="promotionRate != null">
        promotion_rate,
      </if>
      <if test="promotionAmount != null">
        promotion_amount,
      </if>
      <if test="pId != null">
        p_id,
      </if>
      <if test="customParameters != null">
        custom_parameters,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="orderStatusDesc != null">
        order_status_desc,
      </if>
      <if test="userOrderStatus != null">
        user_order_status,
      </if>
      <if test="userOrderStatusDesc != null">
        user_order_status_desc,
      </if>
      <if test="verifyTime != null">
        verify_time,
      </if>
      <if test="orderGroupSuccessTime != null">
        order_group_success_time,
      </if>
      <if test="orderModifyAt != null">
        order_modify_at,
      </if>
      <if test="orderModifyAtExt != null">
        order_modify_at_ext,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="batchNo != null">
        batch_no,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="authDuoId != null">
        auth_duo_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="orderCommissionSnapshot != null">
        order_commission_snapshot,
      </if>
      <if test="orderUserReferee != null">
        order_user_referee,
      </if>
      <if test="helpMoney != null">
        help_money,
      </if>
      <if test="helpStatus != null">
        help_status,
      </if>
      <if test="helpPercent != null">
        help_percent,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="doublePercent != null">
        double_percent,
      </if>
      <if test="exemptionAmount != null">
        exemption_amount,
      </if>
      <if test="promoType != null">
        promo_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderSn != null">
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsThumbnailUrl != null">
        #{goodsThumbnailUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsQuantity != null">
        #{goodsQuantity,jdbcType=INTEGER},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null">
        #{orderAmount,jdbcType=INTEGER},
      </if>
      <if test="orderCreateTime != null">
        #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderSettleTime != null">
        #{orderSettleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderVerifyTime != null">
        #{orderVerifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderReceiveTime != null">
        #{orderReceiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPayTime != null">
        #{orderPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPayTimeExt != null">
        #{orderPayTimeExt,jdbcType=DATE},
      </if>
      <if test="promotionRate != null">
        #{promotionRate,jdbcType=INTEGER},
      </if>
      <if test="promotionAmount != null">
        #{promotionAmount,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="customParameters != null">
        #{customParameters,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderStatusDesc != null">
        #{orderStatusDesc,jdbcType=VARCHAR},
      </if>
      <if test="userOrderStatus != null">
        #{userOrderStatus,jdbcType=VARCHAR},
      </if>
      <if test="userOrderStatusDesc != null">
        #{userOrderStatusDesc,jdbcType=VARCHAR},
      </if>
      <if test="verifyTime != null">
        #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderGroupSuccessTime != null">
        #{orderGroupSuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderModifyAt != null">
        #{orderModifyAt,jdbcType=TIMESTAMP},
      </if>
      <if test="orderModifyAtExt != null">
        #{orderModifyAtExt,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null">
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="authDuoId != null">
        #{authDuoId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCommissionSnapshot != null">
        #{orderCommissionSnapshot,jdbcType=INTEGER},
      </if>
      <if test="orderUserReferee != null">
        #{orderUserReferee,jdbcType=VARCHAR},
      </if>
      <if test="helpMoney != null">
        #{helpMoney,jdbcType=INTEGER},
      </if>
      <if test="helpStatus != null">
        #{helpStatus,jdbcType=VARCHAR},
      </if>
      <if test="helpPercent != null">
        #{helpPercent,jdbcType=DOUBLE},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="doublePercent != null">
        #{doublePercent,jdbcType=DOUBLE},
      </if>
      <if test="exemptionAmount != null">
        #{exemptionAmount,jdbcType=INTEGER},
      </if>
      <if test="promoType != null">
        #{promoType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.OrderInfoExample" resultType="java.lang.Long">
    select count(*) from order_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderSn != null">
        order_sn = #{record.orderSn,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsName != null">
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsThumbnailUrl != null">
        goods_thumbnail_url = #{record.goodsThumbnailUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsQuantity != null">
        goods_quantity = #{record.goodsQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.goodsPrice != null">
        goods_price = #{record.goodsPrice,jdbcType=INTEGER},
      </if>
      <if test="record.orderAmount != null">
        order_amount = #{record.orderAmount,jdbcType=INTEGER},
      </if>
      <if test="record.orderCreateTime != null">
        order_create_time = #{record.orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderSettleTime != null">
        order_settle_time = #{record.orderSettleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderVerifyTime != null">
        order_verify_time = #{record.orderVerifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderReceiveTime != null">
        order_receive_time = #{record.orderReceiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderPayTime != null">
        order_pay_time = #{record.orderPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderPayTimeExt != null">
        order_pay_time_ext = #{record.orderPayTimeExt,jdbcType=DATE},
      </if>
      <if test="record.promotionRate != null">
        promotion_rate = #{record.promotionRate,jdbcType=INTEGER},
      </if>
      <if test="record.promotionAmount != null">
        promotion_amount = #{record.promotionAmount,jdbcType=INTEGER},
      </if>
      <if test="record.pId != null">
        p_id = #{record.pId,jdbcType=VARCHAR},
      </if>
      <if test="record.customParameters != null">
        custom_parameters = #{record.customParameters,jdbcType=VARCHAR},
      </if>
      <if test="record.orderStatus != null">
        order_status = #{record.orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.orderStatusDesc != null">
        order_status_desc = #{record.orderStatusDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.userOrderStatus != null">
        user_order_status = #{record.userOrderStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.userOrderStatusDesc != null">
        user_order_status_desc = #{record.userOrderStatusDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.verifyTime != null">
        verify_time = #{record.verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderGroupSuccessTime != null">
        order_group_success_time = #{record.orderGroupSuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderModifyAt != null">
        order_modify_at = #{record.orderModifyAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderModifyAtExt != null">
        order_modify_at_ext = #{record.orderModifyAtExt,jdbcType=DATE},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.batchNo != null">
        batch_no = #{record.batchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.groupId != null">
        group_id = #{record.groupId,jdbcType=VARCHAR},
      </if>
      <if test="record.authDuoId != null">
        auth_duo_id = #{record.authDuoId,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderCommissionSnapshot != null">
        order_commission_snapshot = #{record.orderCommissionSnapshot,jdbcType=INTEGER},
      </if>
      <if test="record.orderUserReferee != null">
        order_user_referee = #{record.orderUserReferee,jdbcType=VARCHAR},
      </if>
      <if test="record.helpMoney != null">
        help_money = #{record.helpMoney,jdbcType=INTEGER},
      </if>
      <if test="record.helpStatus != null">
        help_status = #{record.helpStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.helpPercent != null">
        help_percent = #{record.helpPercent,jdbcType=DOUBLE},
      </if>
      <if test="record.sendTime != null">
        send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderType != null">
        order_type = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.doublePercent != null">
        double_percent = #{record.doublePercent,jdbcType=DOUBLE},
      </if>
      <if test="record.exemptionAmount != null">
        exemption_amount = #{record.exemptionAmount,jdbcType=INTEGER},
      </if>
      <if test="record.promoType != null">
        promo_type = #{record.promoType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_info
    set id = #{record.id,jdbcType=INTEGER},
      order_sn = #{record.orderSn,jdbcType=VARCHAR},
      goods_id = #{record.goodsId,jdbcType=VARCHAR},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_thumbnail_url = #{record.goodsThumbnailUrl,jdbcType=VARCHAR},
      goods_quantity = #{record.goodsQuantity,jdbcType=INTEGER},
      goods_price = #{record.goodsPrice,jdbcType=INTEGER},
      order_amount = #{record.orderAmount,jdbcType=INTEGER},
      order_create_time = #{record.orderCreateTime,jdbcType=TIMESTAMP},
      order_settle_time = #{record.orderSettleTime,jdbcType=TIMESTAMP},
      order_verify_time = #{record.orderVerifyTime,jdbcType=TIMESTAMP},
      order_receive_time = #{record.orderReceiveTime,jdbcType=TIMESTAMP},
      order_pay_time = #{record.orderPayTime,jdbcType=TIMESTAMP},
      order_pay_time_ext = #{record.orderPayTimeExt,jdbcType=DATE},
      promotion_rate = #{record.promotionRate,jdbcType=INTEGER},
      promotion_amount = #{record.promotionAmount,jdbcType=INTEGER},
      p_id = #{record.pId,jdbcType=VARCHAR},
      custom_parameters = #{record.customParameters,jdbcType=VARCHAR},
      order_status = #{record.orderStatus,jdbcType=VARCHAR},
      order_status_desc = #{record.orderStatusDesc,jdbcType=VARCHAR},
      user_order_status = #{record.userOrderStatus,jdbcType=VARCHAR},
      user_order_status_desc = #{record.userOrderStatusDesc,jdbcType=VARCHAR},
      verify_time = #{record.verifyTime,jdbcType=TIMESTAMP},
      order_group_success_time = #{record.orderGroupSuccessTime,jdbcType=TIMESTAMP},
      order_modify_at = #{record.orderModifyAt,jdbcType=TIMESTAMP},
      order_modify_at_ext = #{record.orderModifyAtExt,jdbcType=DATE},
      status = #{record.status,jdbcType=VARCHAR},
      batch_no = #{record.batchNo,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      group_id = #{record.groupId,jdbcType=VARCHAR},
      auth_duo_id = #{record.authDuoId,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      order_commission_snapshot = #{record.orderCommissionSnapshot,jdbcType=INTEGER},
      order_user_referee = #{record.orderUserReferee,jdbcType=VARCHAR},
      help_money = #{record.helpMoney,jdbcType=INTEGER},
      help_status = #{record.helpStatus,jdbcType=VARCHAR},
      help_percent = #{record.helpPercent,jdbcType=DOUBLE},
      send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      order_type = #{record.orderType,jdbcType=VARCHAR},
      double_percent = #{record.doublePercent,jdbcType=DOUBLE},
      exemption_amount = #{record.exemptionAmount,jdbcType=INTEGER},
      promo_type = #{record.promoType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.OrderInfo">
    update order_info
    <set>

      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsThumbnailUrl != null">
        goods_thumbnail_url = #{goodsThumbnailUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsQuantity != null">
        goods_quantity = #{goodsQuantity,jdbcType=INTEGER},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null">
        order_amount = #{orderAmount,jdbcType=INTEGER},
      </if>
      <if test="orderCreateTime != null">
        order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderSettleTime != null">
        order_settle_time = #{orderSettleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderVerifyTime != null">
        order_verify_time = #{orderVerifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderReceiveTime != null">
        order_receive_time = #{orderReceiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPayTime != null">
        order_pay_time = #{orderPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPayTimeExt != null">
        order_pay_time_ext = #{orderPayTimeExt,jdbcType=DATE},
      </if>
      <if test="promotionRate != null">
        promotion_rate = #{promotionRate,jdbcType=INTEGER},
      </if>
      <if test="promotionAmount != null">
        promotion_amount = #{promotionAmount,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        p_id = #{pId,jdbcType=VARCHAR},
      </if>

      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderStatusDesc != null">
        order_status_desc = #{orderStatusDesc,jdbcType=VARCHAR},
      </if>
      <if test="userOrderStatus != null">
        user_order_status = #{userOrderStatus,jdbcType=VARCHAR},
      </if>
      <if test="userOrderStatusDesc != null">
        user_order_status_desc = #{userOrderStatusDesc,jdbcType=VARCHAR},
      </if>
      <if test="verifyTime != null">
        verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderGroupSuccessTime != null">
        order_group_success_time = #{orderGroupSuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderModifyAt != null">
        order_modify_at = #{orderModifyAt,jdbcType=TIMESTAMP},
      </if>
      <if test="orderModifyAtExt != null">
        order_modify_at_ext = #{orderModifyAtExt,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null">
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="authDuoId != null">
        auth_duo_id = #{authDuoId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCommissionSnapshot != null">
        order_commission_snapshot = #{orderCommissionSnapshot,jdbcType=INTEGER},
      </if>
      <if test="orderUserReferee != null">
        order_user_referee = #{orderUserReferee,jdbcType=VARCHAR},
      </if>
      <if test="helpMoney != null">
        help_money = #{helpMoney,jdbcType=INTEGER},
      </if>
      <if test="helpStatus != null">
        help_status = #{helpStatus,jdbcType=VARCHAR},
      </if>
      <if test="helpPercent != null">
        help_percent = #{helpPercent,jdbcType=DOUBLE},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="doublePercent != null">
        double_percent = #{doublePercent,jdbcType=DOUBLE},
      </if>
      <if test="exemptionAmount != null">
        exemption_amount = #{exemptionAmount,jdbcType=INTEGER},
      </if>
      <if test="promoType != null">
        promo_type = #{promoType,jdbcType=VARCHAR},
      </if>
    </set>
      where
      custom_parameters = #{customParameters,jdbcType=VARCHAR}
      and order_sn = #{orderSn,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.OrderInfo">
    update order_info
    set order_sn = #{orderSn,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_thumbnail_url = #{goodsThumbnailUrl,jdbcType=VARCHAR},
      goods_quantity = #{goodsQuantity,jdbcType=INTEGER},
      goods_price = #{goodsPrice,jdbcType=INTEGER},
      order_amount = #{orderAmount,jdbcType=INTEGER},
      order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      order_settle_time = #{orderSettleTime,jdbcType=TIMESTAMP},
      order_verify_time = #{orderVerifyTime,jdbcType=TIMESTAMP},
      order_receive_time = #{orderReceiveTime,jdbcType=TIMESTAMP},
      order_pay_time = #{orderPayTime,jdbcType=TIMESTAMP},
      order_pay_time_ext = #{orderPayTimeExt,jdbcType=DATE},
      promotion_rate = #{promotionRate,jdbcType=INTEGER},
      promotion_amount = #{promotionAmount,jdbcType=INTEGER},
      p_id = #{pId,jdbcType=VARCHAR},
      custom_parameters = #{customParameters,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      order_status_desc = #{orderStatusDesc,jdbcType=VARCHAR},
      user_order_status = #{userOrderStatus,jdbcType=VARCHAR},
      user_order_status_desc = #{userOrderStatusDesc,jdbcType=VARCHAR},
      verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      order_group_success_time = #{orderGroupSuccessTime,jdbcType=TIMESTAMP},
      order_modify_at = #{orderModifyAt,jdbcType=TIMESTAMP},
      order_modify_at_ext = #{orderModifyAtExt,jdbcType=DATE},
      status = #{status,jdbcType=VARCHAR},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      auth_duo_id = #{authDuoId,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      order_commission_snapshot = #{orderCommissionSnapshot,jdbcType=INTEGER},
      order_user_referee = #{orderUserReferee,jdbcType=VARCHAR},
      help_money = #{helpMoney,jdbcType=INTEGER},
      help_status = #{helpStatus,jdbcType=VARCHAR},
      help_percent = #{helpPercent,jdbcType=DOUBLE},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      order_type = #{orderType,jdbcType=VARCHAR},
      double_percent = #{doublePercent,jdbcType=DOUBLE},
      exemption_amount = #{exemptionAmount,jdbcType=INTEGER},
      promo_type = #{promoType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>