<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fulihui.redisdubbo.demo.producer.dal.dao.RedPackageFieldMapper">
  <resultMap id="BaseResultMap" type="com.fulihui.redisdubbo.demo.producer.dal.dataobj.RedPackageField">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="state" jdbcType="SMALLINT" property="state" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="valid_time" jdbcType="INTEGER" property="validTime" />
    <result column="order_pid" jdbcType="VARCHAR" property="orderPid" />
    <result column="base_red_packet" jdbcType="INTEGER" property="baseRedPacket" />
    <result column="assistance_red_packet" jdbcType="INTEGER" property="assistanceRedPacket" />
    <result column="share_title" jdbcType="VARCHAR" property="shareTitle" />
    <result column="share_img" jdbcType="VARCHAR" property="shareImg" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, state, type, valid_time, order_pid, base_red_packet, assistance_red_packet, 
    share_title, share_img, gmt_create, gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.RedPackageFieldExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from red_package_field
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from red_package_field
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from red_package_field
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.RedPackageFieldExample">
    delete from red_package_field
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.RedPackageField" useGeneratedKeys="true">
    insert into red_package_field (title, state, type, 
      valid_time, order_pid, base_red_packet, 
      assistance_red_packet, share_title, share_img, 
      gmt_create, gmt_modified)
    values (#{title,jdbcType=VARCHAR}, #{state,jdbcType=SMALLINT}, #{type,jdbcType=INTEGER}, 
      #{validTime,jdbcType=INTEGER}, #{orderPid,jdbcType=VARCHAR}, #{baseRedPacket,jdbcType=INTEGER}, 
      #{assistanceRedPacket,jdbcType=INTEGER}, #{shareTitle,jdbcType=VARCHAR}, #{shareImg,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.RedPackageField" useGeneratedKeys="true">
    insert into red_package_field
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="validTime != null">
        valid_time,
      </if>
      <if test="orderPid != null">
        order_pid,
      </if>
      <if test="baseRedPacket != null">
        base_red_packet,
      </if>
      <if test="assistanceRedPacket != null">
        assistance_red_packet,
      </if>
      <if test="shareTitle != null">
        share_title,
      </if>
      <if test="shareImg != null">
        share_img,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="validTime != null">
        #{validTime,jdbcType=INTEGER},
      </if>
      <if test="orderPid != null">
        #{orderPid,jdbcType=VARCHAR},
      </if>
      <if test="baseRedPacket != null">
        #{baseRedPacket,jdbcType=INTEGER},
      </if>
      <if test="assistanceRedPacket != null">
        #{assistanceRedPacket,jdbcType=INTEGER},
      </if>
      <if test="shareTitle != null">
        #{shareTitle,jdbcType=VARCHAR},
      </if>
      <if test="shareImg != null">
        #{shareImg,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.RedPackageFieldExample" resultType="java.lang.Long">
    select count(*) from red_package_field
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update red_package_field
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=SMALLINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.validTime != null">
        valid_time = #{record.validTime,jdbcType=INTEGER},
      </if>
      <if test="record.orderPid != null">
        order_pid = #{record.orderPid,jdbcType=VARCHAR},
      </if>
      <if test="record.baseRedPacket != null">
        base_red_packet = #{record.baseRedPacket,jdbcType=INTEGER},
      </if>
      <if test="record.assistanceRedPacket != null">
        assistance_red_packet = #{record.assistanceRedPacket,jdbcType=INTEGER},
      </if>
      <if test="record.shareTitle != null">
        share_title = #{record.shareTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.shareImg != null">
        share_img = #{record.shareImg,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update red_package_field
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=SMALLINT},
      type = #{record.type,jdbcType=INTEGER},
      valid_time = #{record.validTime,jdbcType=INTEGER},
      order_pid = #{record.orderPid,jdbcType=VARCHAR},
      base_red_packet = #{record.baseRedPacket,jdbcType=INTEGER},
      assistance_red_packet = #{record.assistanceRedPacket,jdbcType=INTEGER},
      share_title = #{record.shareTitle,jdbcType=VARCHAR},
      share_img = #{record.shareImg,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.RedPackageField">
    update red_package_field
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="validTime != null">
        valid_time = #{validTime,jdbcType=INTEGER},
      </if>
      <if test="orderPid != null">
        order_pid = #{orderPid,jdbcType=VARCHAR},
      </if>
      <if test="baseRedPacket != null">
        base_red_packet = #{baseRedPacket,jdbcType=INTEGER},
      </if>
      <if test="assistanceRedPacket != null">
        assistance_red_packet = #{assistanceRedPacket,jdbcType=INTEGER},
      </if>
      <if test="shareTitle != null">
        share_title = #{shareTitle,jdbcType=VARCHAR},
      </if>
      <if test="shareImg != null">
        share_img = #{shareImg,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fulihui.redisdubbo.demo.producer.dal.dataobj.RedPackageField">
    update red_package_field
    set title = #{title,jdbcType=VARCHAR},
      state = #{state,jdbcType=SMALLINT},
      type = #{type,jdbcType=INTEGER},
      valid_time = #{validTime,jdbcType=INTEGER},
      order_pid = #{orderPid,jdbcType=VARCHAR},
      base_red_packet = #{baseRedPacket,jdbcType=INTEGER},
      assistance_red_packet = #{assistanceRedPacket,jdbcType=INTEGER},
      share_title = #{shareTitle,jdbcType=VARCHAR},
      share_img = #{shareImg,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>