<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fulihui.duoduoke.demo.producer.dal.dao.ExtGoodsDoublesRewardMapper">
    <resultMap id="BaseResultMap" type="com.fulihui.duoduoke.demo.producer.dal.dataobj.GoodsDoublesReward">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
        <result column="reward_percent" jdbcType="REAL" property="rewardPercent" />
        <result column="state" jdbcType="VARCHAR" property="state" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="stop_time" jdbcType="TIMESTAMP" property="stopTime" />
        <result column="activity_stop_time" jdbcType="TIMESTAMP" property="activityStopTime" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="min_normal_price" jdbcType="DECIMAL" property="minNormalPrice" />
        <result column="min_group_price" jdbcType="DECIMAL" property="minGroupPrice" />
        <result column="promotion_rate" jdbcType="VARCHAR" property="promotionRate" />
        <result column="self_promotion" jdbcType="VARCHAR" property="selfPromotion" />
        <result column="sum_promotion" jdbcType="VARCHAR" property="sumPromotion" />
    </resultMap>
    <resultMap id="BaseMap" type="com.fulihui.duoduoke.demo.api.dto.GoodsDoublesRewardInfoDTO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
        <result column="reward_percent" jdbcType="REAL" property="rewardPercent" />
        <result column="state" jdbcType="VARCHAR" property="state" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="stop_time" jdbcType="TIMESTAMP" property="stopTime" />
        <result column="activity_stop_time" jdbcType="TIMESTAMP" property="activityStopTime" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="min_normal_price" jdbcType="DECIMAL" property="minNormalPrice" />
        <result column="min_group_price" jdbcType="DECIMAL" property="minGroupPrice" />
        <result column="promotion_rate" jdbcType="VARCHAR" property="promotionRate" />
        <result column="self_promotion" jdbcType="VARCHAR" property="selfPromotion" />
        <result column="sum_promotion" jdbcType="VARCHAR" property="sumPromotion" />
    </resultMap>

    <sql id="Base_Column_List">
    id, goods_id, reward_percent, state, start_time, stop_time, activity_stop_time, gmt_create,
    gmt_modified, goods_name, min_normal_price, min_group_price, promotion_rate, self_promotion,
    sum_promotion
  </sql>


  <select id="selectGoodsDoublesReward" parameterType="com.fulihui.duoduoke.demo.api.request.GoodsDoublesRewardRequest" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from goods_doubles_reward
    where state !=3
    <if test="goodsId != null ">
     AND  goods_id= #{goodsId}
    </if>

    <if test="doubleDate != null">
      AND  start_time <![CDATA[ <= ]]> #{doubleDate} AND activity_stop_time <![CDATA[ >= ]]> #{doubleDate}
    </if>
  </select>

  <select id="list" parameterType="com.fulihui.duoduoke.demo.api.request.GoodsDoublesRewardSelectRequest" resultMap="BaseMap">
    select
      <include refid="Base_Column_List" />
      FROM goods_doubles_reward
    where 1=1
    <if test="state != null and state != ''  ">
      AND  state= #{state}
    </if>
      <if test="strKey != null and strKey!=''">
         <if test=" strValue != null and strValue!=''">
          AND  ${strKey} like CONCAT('',#{strValue},'%')
         </if>
      </if>

    ORDER  by gmt_create desc
    limit #{page},#{rows}

  </select>

  <select id="listSum" parameterType="com.fulihui.duoduoke.demo.api.request.GoodsDoublesRewardSelectRequest" resultType="java.lang.Integer">
      select
     count(1)
      FROM goods_doubles_reward
      where 1=1
    <if test="state != null and state != ''">
      AND  state= #{state}
    </if>

    <if test="strKey != null and strKey!=''">
      <if test=" strValue != null and strValue!=''">
        AND  ${strKey} like CONCAT('',#{strValue},'%')
      </if>
    </if>


  </select>

  <select id="selectGoodsDoublesRewardByGoodsId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from goods_doubles_reward
    where   goods_id= #{goodsId}
  </select>


    <select id="singleById" parameterType="java.lang.String" resultMap="BaseMap">
        select
           <include refid="Base_Column_List" /> from goods_doubles_reward
        where id=#{id}
    </select>

  <select id="updateGoodsDoubleRewardNowBegin" parameterType="com.fulihui.duoduoke.demo.api.request.GoodsDoubleRewardJobRequest" resultType="java.lang.String">
    update goods_doubles_reward set state=1,gmt_modified= #{now}
    where state= 0 and start_time <![CDATA[ <= ]]> #{now}
  </select>

  <select id="updateGoodsDoubleRewardNowEnd" parameterType="com.fulihui.duoduoke.demo.api.request.GoodsDoubleRewardJobRequest" resultType="java.lang.String">
    update goods_doubles_reward set state=2,gmt_modified= #{now}
    where state= 1 and end_time <![CDATA[ <= ]]> #{now}
  </select>

  <select id="updateGoodsDoubleRewardNowEndAct" parameterType="com.fulihui.duoduoke.demo.api.request.GoodsDoubleRewardJobRequest" resultType="java.lang.String">
    update goods_doubles_reward set state=3,gmt_modified= #{now}
    where state= 2 and activity_stop_time <![CDATA[ <= ]]> #{now}
  </select>

  <select id="getUpdateGoodsDoubleRewardNowBegin" parameterType="com.fulihui.duoduoke.demo.api.request.GoodsDoubleRewardJobRequest" resultType="java.lang.Integer">
      select id from  goods_doubles_reward
    where state= 0 and start_time <![CDATA[ <= ]]> #{now}
  </select>

  <select id="getUpdateGoodsDoubleRewardNowEnd" parameterType="com.fulihui.duoduoke.demo.api.request.GoodsDoubleRewardJobRequest" resultType="java.lang.Integer">
      select id from  goods_doubles_reward
    where state= 1 and stop_time <![CDATA[ <= ]]> #{now}
  </select>

  <select id="getUpdateGoodsDoubleRewardNowEndAct" parameterType="com.fulihui.duoduoke.demo.api.request.GoodsDoubleRewardJobRequest" resultType="java.lang.Integer">
    select id from  goods_doubles_reward
    where state= 2 and activity_stop_time <![CDATA[ <= ]]> #{now}
  </select>

    <select id="getMaxDoubleRate"  resultType="java.lang.Float">
        select max(reward_percent) from  goods_doubles_reward
        where state !=3
    </select>
    

</mapper>