<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fulihui.duoduoke.demo.producer.dal.dao.ExtTemplateSendTaskMapper">

  <update id="updateRecordCount">

    UPDATE template_send_task SET gmt_modified=NOW(),
    <!-- 发送成功 成功次数+count 发送总次数+count-->
    <if test="recordType==1">
      success_count = success_count+ #{count},
      send_count = send_count + #{count}
    </if>
    <!-- 发送失败 发送总次数+count-->
    <if test="recordType==2">
      send_count = send_count + #{count}
    </if>
    <if test="recordType==3">
      open_count = open_count+ +#{count}
    </if>
    WHERE id=#{id}
  </update>

  <update id="updateState">
    UPDATE template_send_task set gmt_modified=NOW(), state = #{state} WHERE id=#{id}
  </update>

</mapper>