<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fulihui.duoduoke.demo.producer.dal.dao.ExtUserRewardRecordMapper">
    <resultMap id="BaseResultMap" type="com.fulihui.duoduoke.demo.producer.dal.dataobj.UserRewardRecord">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="order_sn" jdbcType="VARCHAR" property="orderSn"/>
        <result column="help_user_id" jdbcType="VARCHAR" property="helpUserId"/>
        <result column="help_percent" jdbcType="REAL" property="helpPercent"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="sumPercent" resultType="java.lang.Double">
    select
 COALESCE ( sum(help_percent),0)
    from user_reward_record
    where user_id = #{userId} and order_sn=#{orderSn}
  </select>

</mapper>