<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017.  Willard Hu. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fulihui.duoduoke.demo.producer.dal.dao.ExtUserAccountMapper">

    <update id="updateBalance">
        update user_account
        <set>
            balance = balance + #{balance},
            gmt_modified = now(),
            modified_by = #{operator}
        </set>
        <where>
            user_id = #{userId}
            <!-- 负值时判断不能将现有余额减成负数 -->
            <if test="balance &lt; 0">
                and balance >= -#{balance}
            </if>
        </where>
    </update>

    <select id="queryAccountTotal" resultType="com.fulihui.duoduoke.demo.producer.dal.dataobj.UserAccountTotal">
        SELECT ud.gmt_create as gmtCreate,ua.balance,(select sum(amount) as amount from user_account_detail where
        opt_type=1 and user_id=#{userId}) as sumAmount from user_detail as ud
        left join user_account as ua
        on ud.user_id = ua.user_id
        where ud.user_id = #{userId}
    </select>


    <select id="querySum" resultType="java.lang.Long">
        SELECT
        COALESCE(SUM(amount),0)
        FROM `user_account_detail`
        where 1=1
        <if test="userId != null">
            AND user_id = #{userId}
        </if>

        <if test="bizCodes != null and bizCodes.size() >0 ">
            AND biz_code in
            <foreach item="item" collection="bizCodes" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
        </if>

        <if test="optType != null">
            AND opt_type = #{optType}
        </if>


    </select>


</mapper>